<h1 class="text-xl font-bold">{{title}}</h1>
<button class="modal-open btn-green m-y">New</button>
<!-- Pointer events 'none' makes the vail clickable, and not the things under it -->

<!-- TODO: Modal should be identified by ID, not class. There is only one element that I want to select  -->
<div
  class="modal transition-opacity opacity-0 pointer-events-none fixed w-full h-full flex inset-0 justify-center items-start"
>
  <div class="modal-close absolute w-full h-full bg-gray-900 opacity-50"></div>
  <div class="modal-container mt-6 bg-white z-10 rounded-md">
    <div class="p-4 text-left">
      <div class="flex justify-between items-center pb-3">
        <p class="font-bold">New Instruction</p>
        <div class="modal-close cursor-pointer">
          <svg
            class="fill-current text-black"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
          >
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            ></path>
          </svg>
        </div>
      </div>
      <input
        autofocus
        id="create-instruction-input"
        type="text"
        name="title"
        placeholder="Title..."
      />
      <div class="text-red-600" id="create-instruction-input-error"></div>
      <button
        id="create-instruction-button"
        class="underline text-green-600"
        type="button"
      >
        Create
      </button>
    </div>
  </div>
</div>
{% for i in instructions %}

<a href="/instruction/{{id}}">
  <li
    class="shadow-sm hover:shadow-md transition-shadow ease-in-out duration-150 bg-white flex justify-between items-center border rounded-md py-2 px-3 mb-2"
  >
    <div class="block md:flex flex-grow justify-between items-center">
      <h2 class="text-md font-bold mb-2 md:mb-0">{{i.title}}</h2>
      <span class="whitespace-no-wrap md:mx-4 text-sm">Private&nbsp; 🔒</span>
      <!-- <span class="whitespace-no-wrap md:mx-4 ">Public 🌎</span> -->
    </div>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline>
      </svg>
    </div>
  </li>
</a>


{% endfor %}
