{% extends "base.html" %}

{% block title %}Instructions{% endblock %}

{% block content %}

<!-- TODO: extract nav into it's own container -->
<!-- nav container -->
<nav class="shadow-md px-4 bg-green-700 text-white py-2">
  <!-- nav sub-container -->
  <div class="flex justify-between max-w-screen-md mx-auto">
    <!-- nav items -->
    <a class="hover:underline font-bold tracking-wide" href="/">How I Do</a>
    <a class="hover:underline" href="/modal">Account</a>
  </div>
</nav>

<!-- page content container -->
<div class="pt-2 px-4">

  <!-- page content sub-container -->
  <div class="max-w-screen-md mx-auto py-2">

    <!-- Header items -->
    <div class="flex justify-between mb-2">

      <h1 class="text-2xl font-bold text-gray-900">
        {{user}}'s Instructions
      </h1>

      <!-- Open Modal / Create new instruction button -->
      <a href="/user/instructions#modal" class="
          transition
          ease-in-out
          duration-150

          shadow-sm
          hover:shadow-md
          bg-green-600
          hover:bg-green-700

          self-start
          p-2
          ml-2
          font-medium
          rounded-full
          text-white
          tracking-wide">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
             viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
      </a>

    </div>

    <!-- Instructions List -->
    <ul>
      {% for i in instructions %}
      <a class="" id="instuction-{{loop.index}}" href="/">
        <li class="
            group
            bg-white
            flex
            justify-between
            items-center
            border
            rounded-md
            py-2
            px-3
            mb-2

            shadow-sm
            transition-shadow
            hover:shadow-md
            ease-in-out
            duration-300">
          <div class="block md:flex flex-grow justify-between items-center">
            <h2 class="text-md font-bold mb-2 md:mb-0 group-hover:underline">
              {{i}}
            </h2>
            <span class="whitespace-no-wrap md:mx-4 text-sm">Private&nbsp;
              🔒</span>
            <!-- <span class="whitespace-no-wrap md:mx-4 ">Public 🌎</span> -->
          </div>

          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round"
                 stroke-linejoin="round">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Note: opacity and pointer events are toggled! -->


<div id="modal" class="
    opacity-0
    pointer-events-none

    transition-opacity
    ease-in-out
    duration-300

    fixed
    w-full
    h-screen
    inset-0
    ">

  <a href="#" class="
      modal-close
      opacity-50
      bg-gray-900
      absolute
      w-full
      h-screen
      ">
  </a>

  <div class="p-4">

    <!-- modal content -->
    <div class="
      z-50
      relative
      p-4
      m-auto
      max-w-screen-sm
      bg-white
      rounded-md">

      <!-- header container -->
      <div class="flex justify-between items-center pb-4">
        <h2 class="font-bold text-2xl sm:text-xl">New Instruction</h2>
        <a href="#">
          <svg class="fill-current text-black"
               xmlns="http://www.w3.org/2000/svg" width="26" height="26"
               viewBox="0 0 20 20">
            <path
                  d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
            </path>
          </svg>
        </a>
      </div>

      <!-- create instruction form -->
      <form autocomplete="off" class="flex flex-col" action="/create-instruction"
            method="POST">

        <!-- ERRORS HERE... if they exist -->

        <input id="title-input" type="text" name="title" placeholder="Title..."
               class="
          text-lg
          appearance-none
          border
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          leading-tight
          focus:outline-none
          focus:border-green-500
        " />
        <input id="" type="text" name="titleb" placeholder="Titleb..." class="
          text-lg
          appearance-none
          border
          rounded
          w-full
          py-2
          px-3
          text-gray-700
          leading-tight
          focus:outline-none
          focus:border-green-500
        " />

        {% match errors %}
        {% when Some with (errs) %}

        {% for (k,v) in errs %}
        <hr>
        {{k}}
        {% for e in v %}
        {{e}}
        {% endfor %}
        <hr>
        {% endfor %}

        {% when None %}

        {% endmatch %}



        <!-- FUTURE feature: private/public access -->
        <!-- <div class="space-y-2 my-3">
          <label class="flex items-center space-x-2 font-medium text-lg">
            <input type="radio" name="checked-demo" value="0"
                   class="appearance-none h-3 w-3 border border-gray-400 rounded-full checked:bg-gray-900 checked:border-transparent focus:outline-none">
            <span>Private 🔒</span>
          </label>
          <label class="flex items-center space-x-2 font-medium text-lg">
            <input type="radio" name="checked-demo" value="1"
                   class="appearance-none h-3 w-3 border border-gray-400 rounded-full checked:bg-gray-900 checked:border-transparent focus:outline-none">
            <span>Public 🌎</span>
          </label>
        </div> -->

        <button type="submit" class="
          transition
          ease-in-out
          duration-150

          shadow-sm
          hover:shadow-md
          bg-green-600
          hover:bg-green-700

          self-streach
          md:self-end

          mt-2
          py-1
          px-2
          text-white
          text-lg
          font-medium
          rounded">
          Create
        </button>
      </form>

    </div>

  </div>


</div>


<!-- TODO: make the footer good -->
<!--
<footer class="absolute bottom-0 text-gray-600 w-full p-4 text-center">
  <small>&copy; 2020 SpruceDoc</small>
</footer>
-->

<script>
  let $ = document.querySelector.bind(document);

  let titleInput = $("#title-input");

  function isOpen() {
    const hash = window.location.hash.substring(1);
    return hash === 'modal';
  }

  window.addEventListener('load', () => {
    if (window.location.href.includes('/create-instruction')) {
      window.location.hash = '#modal'
    }
    if (isOpen()) {
      titleInput.focus();
    }
  });

  window.addEventListener('hashchange', (evt) => {
    if (isOpen()) {
      titleInput.focus();
    } else {
      titleInput.blur();
    }
  });

  document.addEventListener('keydown', (evt) => {
    const isEscape = evt.key === "Escape";
    if (isEscape && isOpen()) {
      window.location.hash = '#';
    }
  });

</script>

{% endblock %}