{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Header -->
{% let header_title = "New Instruction" %}
{% let header_href = "/user/instructions" %}
{% let header_symbol = 'x' %}
{% include "page-header.html" %}

<!-- Create Instruction Form -->
<form autocomplete="off" class="flex flex-col" action="/create-instruction"
      method="POST">

  <!-- TODO: different color outline on error -->
  <!-- border-red-500 -->
  <input autofocus type="text" name="title" placeholder="Title..." class="
     text-lg
     appearance-none
     border
     focus:border-green-500
     focus:outline-none
     rounded
     w-full
     py-2
     px-3
     my-1
     text-gray-700
     leading-tight
   " />
  {% match title_error %}
  {% when Some with (err) %}
  {{err|safe}}
  {% when None %}
  {% endmatch %}

  <!-- FUTURE: private/public access -->
  <!-- <div class="space-y-2 my-3">
          <label class="flex items-center space-x-2 font-medium text-lg">
            <input type="radio" name="checked-demo" value="0"
                   class="appearance-none h-3 w-3 border border-gray-400 rounded-full checked:bg-gray-900 checked:border-transparent focus:outline-none">
            <span>Private 🔒</span>
          </label>
          <label class="flex items-center space-x-2 font-medium text-lg">
            <input type="radio" name="checked-demo" value="1"
                   class="appearance-none h-3 w-3 border border-gray-400 rounded-full checked:bg-gray-900 checked:border-transparent focus:outline-none">
            <span>Public 🌎</span>
          </label>
        </div> -->

  <button type="submit" class="
          transition
          ease-in-out
          duration-150
          shadow-sm
          hover:shadow-md
          bg-green-600
          hover:bg-green-700
          self-streach
          sm:self-end
          mt-2
          py-1
          px-2
          text-white
          text-lg
          font-medium
          rounded">
    Create
  </button>
</form>


{% endblock %}