<!-- Modal parent container -->
<!-- Pointer events 'none' makes the vail clickable, and not the things under it -->

<!-- make a class for modal visability called "modal-visible" which has the opacity and pointer events -->
<div
  id="modal"
  
  class="transition-opacity opacity-0 pointer-events-none fixed w-full h-full flex inset-0 justify-center items-start"
>
  <!-- Vail -->
  <div class="toggle-modal absolute w-full h-full bg-gray-900 opacity-50"></div>
  <!-- Modal box -->
  <div class="p-4 bg-white z-10 rounded-md w-96 md:my-0 md:mt-6 m-2">
    <label>
      <span class="text-gray-600 text-sm block">TITLE</span>
      <input
        id="update-instruction-input"
        type="text"
        name="title"
        value="{{title}}"
        class="input-simple"
      />
    </label>
    <div class="text-red-600" id="update-instruction-error"></div>
    <button
      id="update-instruction-button"
      class="mt-1 rounded text-white py-2 px-4 w-full bg-green-600 hover:bg-green-800 transition-colors"
      type="button"
    >
      Update
    </button>
    <button
      class="toggle-modal md:hidden mt-1 rounded py-2 px-4 w-full bg-gray-200 hover:bg-gray-300 transition-colors"
    >
      Cancel
    </button>
  </div>
</div>

<h1
  id="instruction-title"
  class="toggle-modal text-xl font-bold my-2 transition cursor-pointer hover:text-green-600"
>
  {{title}}
</h1>

{% for s in steps %}

<!-- A lot of things (everything? is going to need a unique id) -->
<!-- Which is fine. You're understanding dom refrences, why react and flutter do this key thing too... -->
<div>
  <h2 class="text-lg font-medium p-4">{{s.title}}</h2>
  <div class="text-gray-400 text-sm">{{s.seconds}}</div>
  <button type="button" class="delete-step-button btn-red" value="{{s.id}}">
    Delete Step
  </button>

  <button type="button" class="toggle-update-step btn-gray" value="{{s.id}}">
    Update Step
  </button>

  <!-- toggle-able update area  -->
  <div class="hidden" id="update-area-{{s.id}}">
    <h3>Update Step</h3>
    <input
      class="input-simple"
      id="update-step-title"
      type="text"
      placeholder="Step title"
      value="{{s.title}}"
    />
    <input
      class="input-simple"
      id="update-step-minutes"
      type="number"
      placeholder="minutes"
      value="{{s.seconds / 60}}"
    />
    <input
      class="input-simple"
      id="update-step-seconds"
      type="number"
      placeholder="seconds"
      value="{{s.seconds / 60 - s.seconds}}"
    />
    <button value="{{s.id}}" type="button" class="update-step-button btn-gray">
      Update
    </button>
    <button class="toggle-update-step" value="{{s.id}}" type="button">
      Close
    </button>
  </div>
</div>
{% endfor %}

<h2>New Step</h2>
<input
  class="input-simple"
  id="create-step-title"
  type="text"
  placeholder="Step title"
/>
<input
  class="input-simple"
  id="create-step-minutes"
  type="number"
  placeholder="minutes"
/>
<input
  class="input-simple"
  id="create-step-seconds"
  type="number"
  placeholder="seconds"
/>
<button id="create-step-button" type="button" class="btn-green">Create</button>
<div id="create-step-error"></div>
