{% extends "base.html" %}
{% block title %}Modal{% endblock %}
{% block content %}

<div id="modal" class="
    transition-opacity
    ease-in-out
    duration-300
    fixed
    w-full
    h-screen
    inset-0
    ">

  <a href="/user/instructions" class="
      modal-close
      opacity-50
      bg-gray-900
      absolute
      w-full
      h-screen
      ">
  </a>

  <div class="p-4">
    <!-- modal content -->
    <div class="
      z-50
      relative
      p-4
      m-auto
      max-w-screen-sm
      bg-white
      rounded-md">
      <h1>Hi From inside modal</h1>
    </div>

  </div>


</div>
{% endblock %}