<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
  </head>
  <style>
    .red-button {
      color: white;
      border: red 2px solid;
    }
  </style>
  <body>

    <h2>Add React in One Minute</h2>
    <p>This page demonstrates using React with no build tooling.</p>
    <p>React is loaded as a script tag.</p>

    <p>
      This is the first comment.
      <!-- We will put our React component inside this div. -->
      <div class="like_button_container" data-commentid="1"></div>
    </p>

    <p>
      This is the second comment.
      <!-- We will put our React component inside this div. -->
      <div class="like_button_container" data-commentid="2"></div>
    </p>

    <p>
      This is the third comment.
      <!-- We will put our React component inside this div. -->
      <div class="like_button_container" data-commentid="3"></div>
    </p>

    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <!-- Load our React component. -->
    <script >
'use strict';

const e = React.createElement;
const useState = React.useState;

function LikeButton2(props) {
  const [liked, setLike] = useState(false);

  if (liked) {
    return 'You liked comment number ' + props.commentID;
  }

  return e(
    'button',
    {onClick: () => setLike(true), className: "red-button"},
    'Like'
  )
}

// Find all DOM containers, and render Like buttons into them.
document.querySelectorAll('.like_button_container')
  .forEach(domContainer => {
    // Read the comment ID from a data-* attribute.
    const commentID = parseInt(domContainer.dataset.commentid, 10);
    ReactDOM.render(
      e(LikeButton2, { commentID }),
      domContainer
    );
  });


  // What you actually want react for, is for easy state transitions, right?
  // And rendering? 
  // What exactly is the problem that it's solving?
  // It seems.. unclear.
  // It's co-locating some things, right?
  // A function, a condition, a button that can be one thing or another thing...
  // encapsulation.

  // How do we encapsulate in javascript without react?
  // The modal, for example? Can that be a function?
  // The thing is every page needs to be SSR for two pretty solid reasons:
  // SEO, and having one router... and a lot less build complexity
  // The sacrifice? Some hacky javascript.
  // Can I just keep hacking the javascript? is that ok?
  // Maybe put some of the modal stuff in a few css classes and call it a day?
  // React also provides style encapsulation

  // The alternative to *that* is to make more custom css classes.
  // Is that OK? using TW like that?
  // No it's hideous! That's *exactly* what we're going for.
    </script>

  </body>
</html>