<html>

<head>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
  <style>
    #modal {
      padding: 0 2em;
      opacity: 0;
      transition: opacity 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.2);
    }

    #modal:target {
      opacity: 1;
      transition: opacity 0.3s;
    }

    #modal>div {
      position: relative;
      width: 100%;
      max-width: 32em;
      padding: 1em;
      background: #FFF;
      border-radius: 0.5em;
    }
  </style>
</head>

<body>
  <a href="/test.html#modal">link</a>
  <div id="modal">
    <div>
      <h3>This is a modal</h3>
      <p>This is the modals content.</p>
      <a href="/test.html#">Close</a>
    </div>
  </div>

</body>

</html>